body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #8a2be2;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    325deg,
    #0c0c0c 0%,
    #8a287d 30%,
    #fa30fa 70%,
    #c9c4c4 100%
  );
}

h2 {
  font-size: 3em;
  color: #f0f8ff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.reset {
  padding: 15px 20px;
  width: 80%;
  border: none;
  color: #0c0c0c;
  font-size: 2em;
  letter-spacing: 0.2em;
  background-color: #c9c4c4;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}

.reset:focus {
  color: #8a287d;
  background-color: #0c0c0c;
}

.game {
  width: 430px;
  height: 430px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  transform-style: preserve-3d;
  perspective: 500px;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9c4c4;

  font-size: 5em;
  transform: rotateY(180deg);
  transition: 0.5s;
}
.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    38deg,
    #19119e 0%,
    #ff31bc 25%,
    #404d45 75%,
    #00d4ff 100%
  );
  transform: rotateY(0deg);
  transition: 0.25s;
  backface-visibility: hidden;
}


.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after
{
    transform: rotateY(180deg);
}